    html,
    body{
        padding: 0;
        margin: 0;
    }

    body{
        font-family: Futura,"Trebuchet MS",Arial,sans-serif;
        background: #fff;
        color:#111;
        font-size: 16px;
        line-height: 25px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        padding: 0;
        margin: 0;
    }

    h1{
        font-size: 26px;
        line-height: 41px;
        padding: 3px 0;
    }

    h2{
        font-size: 20px;
        line-height: 29px;
        padding: 10px 0;
    }

    h3{
        font-size: 19px;
        line-height: 28px;
        padding: 10px 0;
    }

    h4{
        font-size: 15px;
        line-height: 24px;
        padding: 7px 0;
    }

    h5{
        font-size: 13px;
        line-height: 22px;
        padding: 5px 0;
    }

    label{
        font-size: 16px;
        line-height: 37px;
        vertical-align: middle;
        padding: 0 10px
    }

    input[type='checkbox']{
        vertical-align: middle;
        padding: 0;
        margin: 4px 10px 4px 0;
        height: 29px;
        min-width: 80px;
        line-height: 29;
    }

    select{
        padding: 0 15px;
        min-width: 100px;
        margin: 15px 5px 0 5px;
        height: 38px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    input[type='checkbox']{
        min-width: auto;
        width: 20px;
        margin: 0 10px 0 0;
    }

    input[type='text'],
    input[type='number'],
    textarea{
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border: none;
        resize:none;
    }

    input[type='text'].monsterName{
        padding: 0 15px;
        margin: 15px 5px 0 5px;
        height: 38px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 150px;
        border: 1px solid #aaa;
        border-radius: 3px;
    }

    textarea{
        background: #fff;
        outline:none;
        height: 100px;
        border: 1px solid #111;
        border-radius: 3px;
    }

    a{
        display: inline-block;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active{
        color: inherit;
        text-decoration: inherit;
    }

    a.link,
    a.link:link,
    a.link:visited,
    a.link:hover,
    a.link:active{
        color: teal;
        text-decoration: underline;
    }

    img{
        vertical-align: bottom;
    }

    iframe{
        width: 100%;
        height: 250px;
        margin: 10px 0 0 0;
        background: #fff;
        outline:none;
        border: 1px solid #111;
        border-radius: 3px;
    }

    .thumb{
        margin: 10px 0 0 0;
        border: 1px solid #111;
        max-height: 250px;
        max-width: 100%;
    }

    .no-select{
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    .text-center,
    .text-center input[type='text'],
    .text-center input[type='number']{
        text-align: center!important;
    }

    .text-right{
        text-align: right;
    }

    .submit{
        position: relative;
    }

    .submit input{
        position: absolute;
        top:0;
        left: 0;
        width: 1px;
        height: 1px;
        opacity: 0.01;
        font-size: 0;
        line-height: 0;
        background: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
    }

    .one-fifth{
        width: 20%;
    }

    .one-third{
        width: 33.33%;
    }

    .one-half{
        width: 50%;
    }

    .two-thirds{
        width: 66.66%;
    }

    .border-box{
        box-sizing: border-box;
    }

    .left{
        float: left;
    }

    .right{
        float: right;
    }

    .clear{
        clear: both;
    }

    header{
        width: 100%;
        background: linear-gradient(2deg, #335c69, #335c69, #211714);
        background: #366775;
        background: linear-gradient(to left, #73a3b5, #2e7590);
        background: linear-gradient(to left, #324a58, #3081a0);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        position: fixed;
        top:0;
        box-sizing: border-box;
        left: 0;
        color: #fff;
        z-index: 10;
    }

    header h1{
        padding: 3px 20px
    }

    header h1 img{
        vertical-align: middle;
        padding: 5px 15px 5px 5px;
    }

    #filter{
        box-sizing: border-box;
        width: 100%;
        padding-top: 50px;
        left: 0;
        background: rgba(255,255,255,0.2);
        position: fixed;
        height: 100%;
        background: #294c56;
        background: linear-gradient(to bottom, #2c6373, #1f3350);
        width: 170px;
    }

    #filter > .inner{
        padding: 10px 5px 0 5px;
        border-radius: 3px;
        box-sizing: border-box;
    }

    #dummyHeader{
        height: 40px;
    }

    #main{
        text-align: center;
        padding: 15px 15px 15px 185px;
        box-sizing: border-box;
        margin: 0 auto 30px auto;
        font-size: 0;
        line-height: 0;
    }

    .box,
    .box-placeholder{
        border-radius: 3px;
        width: 33.33%;
        width: 380px;
        display: inline-block;
        padding: 0px;
        margin: 10px;
        box-sizing: border-box;
        vertical-align: top;
        position: relative;
        font-size: 13px;
        line-height: 22px;
        overflow: hidden;
        max-width: 93%;
    }

    .box{
        box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    }

    .box.large + .box-placeholder{
        width: 800px;
    }

    .box.medlarge + .box-placeholder{
        width: 600px;
    }

    .box.small + .box-placeholder{
        width: 235px;
    }

    .box.medsmall + .box-placeholder{
        width: 300px;
    }

    .box-placeholder{
        border: 1px dashed #666;
        min-height: 150px;
    }

    .box-placeholder:after{
        content:"DRAG BOX HERE";
        font-size: 17px;
        line-height:30px;
        padding: 60px 0 0 0;
        box-sizing: border-box;
        text-align: center;
        color:#666;
        display: block;
    }

    .box.large{
        width: 66.66%;
        width: 800px;
    }

    .box.medlarge{
        width: 66.66%;
        width: 600px;
    }

    .box.small{
        width: 16.66%;
        width: 235px;
    }

    .box.medsmall{
        width: 25%;
        width: 300px;
    }

    .box > .inner{
        padding: 10px 20px 10px 20px;
        background: #eee;
        text-align: left;
        box-sizing: border-box;
    }

    .box > .inner > .inner{
        padding: 15px 0;
        margin: 15px 0 0 0;
        border: 1px solid #111;
        border-radius: 3px;
        position: relative;
        background: #fff;
        box-sizing: border-box;
    }

    .box.large > .inner .one-third,
    .box.medlarge > .inner .one-third{
        padding: 0 10px 0 0;
    }

    .box.large > .inner .one-third.character_c,
    .box.medlarge > .inner .one-third.character_c{
        padding:0;
    }

    .box.large > .inner .one-third.monster_c,
    .box.medlarge > .inner .one-third.monster_c{
        padding: 0 0 0 10px;
    }

    .monster_c.one-third iframe{
        -ms-zoom: 0.5;
        border: 2px solid #111;
        margin-bottom:-90px;
        width: 200%;
        height: 400px;
        margin-bottom:-200px;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
    }

    .ability{
        padding: 10px;
        background: #ccc
    }

    .ability + .ability{
        margin-top:10px;
    }

    .actions{
        padding-right: 10px;
        box-sizing: border-box;
    }

    /*
    .box.expandBox{
        width: 100%;
        z-index: 9;
        height: 100%;
        padding-top: 80px;
        box-sizing: border-box;
        position: fixed;
        top:0;
        left: 0;
        background: rgba(255,255,255,0.9)
    }

    .box.expandBox .monster_b{
        width: 75%;
    }

    .box.expandBox .monster_c{
        width: 25%;
    }

    .box.expandBox .monster_b iframe {
        height: 550px;
    }
    */

    a.linkButton,
    a.roll,
    a.reroll,
    a.remove,
    a.redRoll,
    a#fullscreen{
        padding: 0 15px;
        margin: 15px 5px 0 5px;
        background: rgba(0,0,0,0.3);
        display: inline-block;
        vertical-align: middle;
    }

    a.roll{
        margin: 0 5px 1px 5px;
        padding: 0 10px;
        display: block;
        background: rgba(0,0,0,0.3);
        color: #fff;
    }

    a.roll:hover{
        background: rgba(0,0,0,0.15)!important;
        text-decoration: inherit;
    }

    a.roll:active{
        background: rgba(0,0,0,0.45)!important;
        text-decoration: inherit;
    }

    a.reroll:hover{
        background: rgba(0,0,0,0.15)!important;
        text-decoration: inherit;
    }

    a.reroll:active{
        background: rgba(0,0,0,0.6)!important;
        text-decoration: inherit;
    }

    a.remove,
    a.drag{
        background-color:rgba(208, 13, 13, 0.5);
        position: absolute;
        top:0;
        right:0;
        font-size: 0;
        line-height: 0;
        padding: 0;
        height: 20px;
        width: 20px;
        padding: 10px;
        margin:0;
    }

    a.drag{
        right: 40px;
        padding: 7px;
        height: 26px;
        width: 26px;
    }

    h2.handle{
        border-bottom: 1px solid #888;
        padding: 8px 90px 8px 4px;
        height: 41px;
        background: #fff;
        box-sizing: border-box;
        line-height: 25px;
    }

    a.drag{
        cursor: pointer;
        background-color:rgba(95, 194, 210,0.5);
    }

    a.drag:hover{
        background-color:rgba(95, 194, 210,0.25);
    }

    a.drag:active{
        background-color:rgba(95, 194, 210,0.8);
    }

    a.remove:hover{
        background: rgba(208, 13, 13, 0.25)!important;
    }

    a.remove:active{
        background: rgba(208, 13, 13, 0.8)!important;
    }

    span.handle:active{

    }

    a.redRoll{
        background-color:rgba(251, 116, 116, 0.5);
        color: #fff;
    }

    a.redRoll:hover{
        background: rgba(251, 116, 116, 0.3)!important;
    }

    a.redRoll:active{
        background: rgba(251, 116, 116, 0.8)!important;
    }

    a#reset{
        margin: 0 0;
    }

    a#fullscreen{
        background-color: rgba(255,255,255,0.7);
        margin: 0 0;
        color: #fff;
    }

    a#reset h4,
    a#fullscreen h4{
        padding: 12px 0;
    }

    a#fullscreen:hover{
        background: rgba(255,255,255,0.35)!important;
        text-decoration: inherit;
    }

    a#fullscreen:active{
        background: rgba(255,255,255,0.9)!important;
        text-decoration: inherit;
    }

    i.col{
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0 0 0 10px;
        border: 0px solid #fff;
        border-radius: 20px;
    }

    .combatants .clear{
        border-bottom:1px solid #ccc;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .combatants .clear:last-child{
        border:none;
    }

    .calculation{
        display: none;
    }

    @media screen and (max-width:680px){
        header h1 {
            padding: 3px 0px 3px 7px;
            font-size: 19px;
        }

        #filter{
            width: 100%;
            height: auto;
            text-align: center;
            padding-top: 47px;
            position: relative;
            top: 0;
        }

        #filter > .inner {
            padding: 5px 5px 0px 5px;
        }

        #filter .buyMeACoffee{
            display: inline-block;
            vertical-align: middle;
        }

        #filter .buyMeACoffee img{
            height: 30px!important;
            width: auto;
            margin: 0 0 5px 0;
        }

        #dummyHeader,
        #fullscreen,
        #reset,
        a.drag,
        #addNote + br{
            display: none!important;
        }

        #main {
            padding: 10px;
        }

        a.roll {
            display: inline-block;
            margin:  0 0 5px 0;
        }

        .monster_c.one-third,
        .monster_b.two-thirds{
            width: 100%;
            padding: 0!important;
        }

        .monster_c.one-third iframe{
            height: 160px;
            -ms-zoom: 0.5;
            border: 2px solid #111;
            margin-bottom:-90px;
            width: 200%;
            -moz-transform: scale(0.5);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.5);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.5);
            -webkit-transform-origin: 0 0;
        }

        .item_c iframe,
        .monster_b iframe{
            width: 200%;
            height: 500px;
            margin-bottom: -250px;
            -moz-transform: scale(0.5);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.5);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.5);
            -webkit-transform-origin: 0 0;
        }
    }

    @media screen and (max-width:540px){
        .character_a.one-third,
        .character_b.one-third,
        .character_c.one-third{
            width: 100%;
            padding: 0;
        }
    }

    @media screen and (max-width:350px){
        header h1 {
            font-size: 17px;
        }

        header h1 img {
            padding: 5px 10px 5px 5px;
        }

        h5 {
            padding: 2px 0;
        }
    }
