    html,
    body{
        padding: 0;
        margin: 0;
    }

    body{
        font-family: Futura,"Trebuchet MS",Arial,sans-serif;
        background: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        color:#111;
        font-size: 16px;
        line-height: 25px;
        overflow-y: scroll;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        padding: 0;
        margin: 0;
    }

    h1{
        font-size: 26px;
        line-height: 41px;
        padding: 3px 0;
    }

    h2{
        font-size: 20px;
        line-height: 29px;
        padding: 10px 0;
    }

    h3{
        font-size: 19px;
        line-height: 28px;
        padding: 7px 0 0 0;
    }

    h4{
        font-size: 15px;
        line-height: 24px;
        padding: 7px 0 0 0;
    }

    a h4{
        padding: 7px 0
    }

    h5{
        font-size: 13px;
        line-height: 22px;
        padding: 5px 0;
    }

    blockquote{
        margin: 10px 0 10px 0;
        padding: 1px 20px;
        box-sizing: border-box;
        background: #ccc;
    }

    ul{
        padding: 0 0 0 20px;
        box-sizing: border-box;
        margin: 10px 0
    }

    table{
        width: 100%;
    }

    table tr th{
        background: #666;
        color: #fff;
    }

    table tr th,
    table tr td{
        padding: 5px;
        box-sizing: border-box;
    }

    table tbody tr:nth-child(2n) {
        background: #ddd;
    }

    table.archetypes h3{
        padding: 0;
    }

    table.archetypes tr th,
    table.archetypes tr td{
        padding: 10px 20px;
        box-sizing: border-box;
    }

    label{
        font-size: 16px;
        line-height: 37px;
        vertical-align: middle;
        padding: 0 10px
    }

    input[type='checkbox']{
        vertical-align: middle;
        padding: 0;
        margin: 4px 10px 4px 0;
        height: 29px;
        min-width: 80px;
        line-height: 29;
    }

    select{
        padding: 0 15px;
        min-width: 100px;
        max-width: 100%;
        margin: 15px 5px 0 5px;
        height: 38px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    input[type='checkbox']{
        min-width: auto;
        width: 20px;
        margin: 0 10px 0 0;
    }

    input[type='text'],
    input[type='number'],
    textarea{
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 8px;
        border: none;
        resize:none;
    }

    input[type='text'].monsterName,
    input[type='text'].spellName{
        padding: 0 15px;
        margin: 0 5px 0 5px;
        height: 38px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 250px;
        border: 1px solid #aaa;
        border-radius: 3px;
    }

    .monsterSuggestion,
    .spellSuggestion{
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0 0;
        position: relative;
        text-align: left;
    }

    .monsterSuggestion .results,
    .spellSuggestion .results{
        position: absolute;
        top: 46px;
        left: 5px;
        width: 360px;
        background: #eff5f7;
        display: none;
        z-index: 10;
        max-height: 296px;
        overflow: auto;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    }

    .spellSuggestion .results{
        width: 330px;
    }

    .monsterSuggestion .results div,
    .spellSuggestion .results div{
        padding:5px 10px;
        border-bottom: 1px solid #aaa;
        cursor: pointer;
        height: 22px;
        overflow: hidden;
    }

    .monsterSuggestion .results div:hover,
    .spellSuggestion .results div:hover{
        background: #3081a0;
        color: #fff;
    }

    textarea{
        background: #fff;
        outline:none;
        height: 100px;
        border: 1px solid #111;
        border-radius: 3px;
    }

    a{
        display: inline-block;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active{
        color: inherit;
        text-decoration: inherit;
    }

    a.link,
    a.link:link,
    a.link:visited,
    a.link:hover,
    a.link:active{
        color: teal;
        text-decoration: underline;
    }

    img{
        vertical-align: bottom;
    }

    iframe{
        width: 100%;
        height: 250px;
        margin: 10px 0 0 0;
        background: #fff;
        outline:none;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 0 1px #111;
    }

    .thumb{
        margin: 10px 0 0 0;
        border: 1px solid #111;
        max-height: 250px;
        max-width: 100%;
    }

    .no-select{
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    .text-center,
    .text-center input[type='text'],
    .text-center input[type='number']{
        text-align: center!important;
    }

    .text-right{
        text-align: right;
    }

    .submit{
        position: relative;
    }

    .submit input{
        position: absolute;
        top:0;
        left: 0;
        width: 1px;
        height: 1px;
        opacity: 0.01;
        font-size: 0;
        line-height: 0;
        background: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
    }

    .one-twentieth{
        width: 5%;
    }

    .one-tenth{
        width: 10%;
    }

    .three-twentieths{
        width: 15%;
    }

    .one-fifth{
        width: 20%;
    }

    .one-quater{
        width: 25%;
    }

    .three-tenths{
        width: 30%;
    }

    .one-third{
        width: 33.33%;
    }

    .two-fifths{
        width: 40%;
    }

    .one-half{
        width: 50%;
    }

    .two-thirds{
        width: 66.66%;
    }

    .three-quaters{
        width: 75%;
    }

    .border-box{
        box-sizing: border-box;
    }

    .left{
        float: left;
    }

    .right{
        float: right;
    }

    .clear{
        clear: both;
    }

    header{
        width: 100%;
        background: linear-gradient(2deg, #335c69, #335c69, #211714);
        background: #366775;
        background: linear-gradient(to left, #73a3b5, #2e7590);
        background: linear-gradient(to left, #324a58, #3081a0);
        /* background: #EC2128; */
        background: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        box-shadow: none;
        outline:1px solid #000;
        position: fixed;
        top:0;
        box-sizing: border-box;
        left: 0;
        color: #2d6373;
        z-index: 10;
    }

    #hamburger{
        display: none;
        height: 21px;
        width: 26px;
        margin: 0 10px 0 5px;
        padding: 10px 0;
        position: relative;
    }

    #hamburger span{
        width: 100%;
        height: 2px;
        display: block;
        background: #2d6373;
        border-radius: 50px;
        margin: 0 0 8px 0;
    }

    #hamburger.on span + span + span{
        display: none;
    }

    #hamburger.on span{
        position: absolute;
        top:20px;
        left: 0;
        transform:rotate(45deg)
    }

    #hamburger.on span + span{
        transform:rotate(-45deg)
    }

    header h1{
        padding: 3px 20px
    }

    header h1 img{
        vertical-align: middle;
        padding: 5px 15px 5px 5px;
    }

    #filter{
        box-sizing: border-box;
        width: 100%;
        padding-top: 50px;
        left: 0;
        background: rgba(255,255,255,0.2);
        position: fixed;
        height: 100%;
        background: #294c56;
        background: linear-gradient(to bottom, #2c6373, #1f3350);
        /* background: linear-gradient(to bottom, #555555, #111111); */
        width: 170px;
        line-height: 17px;
        z-index: 9;
        outline:1px solid #000;
    }

    #minimapBG{
        box-sizing: border-box;
        width: 80px;
        padding-top: 50px;
        right: 0;
        background: rgba(255,255,255,0.9);
        background: rgba(212,231,236,0.9);
        position: fixed;
        height: 100%;
    }

    #filter > .inner{
        padding: 10px 5px 0 5px;
        border-radius: 3px;
        box-sizing: border-box;
    }

    #minimap{
        position: fixed;
        top: 49px;
        right: 0;
        width: 80px;
        height: 100%;
        z-index: 11;
    }

    #dummyHeader{
        height: 40px;
    }

    #main{
        text-align: center;
        padding: 15px 95px 15px 185px;
        box-sizing: border-box;
        margin: 0 auto 30px auto;
        font-size: 0;
        line-height: 0;
    }

    .box,
    .box-placeholder{
        width: 33.33%;
        width: 420px;
        display: inline-block;
        padding: 0px;
        margin: 15px;
        box-sizing: border-box;
        vertical-align: top;
        position: relative;
        font-size: 13px;
        line-height: 22px;
        max-width: 93%;
    }

    .box-placeholder{
        background: rgba(255,255,255,0.7)
    }

    .box{
        box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
        outline:1px solid #000;
        box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.6);
        overflow: visible;
    }

    .box.overflow{
        overflow: visible;
    }

    .box.large + .box-placeholder{
        width: 740px;
    }

    .box.medlarge + .box-placeholder{
        width: 600px;
    }

    .box.med + .box-placeholder{
        width: 480px;
    }

    .box.small + .box-placeholder{
        width: 235px;
    }

    .box.medsmall + .box-placeholder{
        width: 300px;
    }

    .box-placeholder{
        border: 1px dashed #666;
        min-height: 150px;
    }

    .box-placeholder:after{
        content:"DRAG BOX HERE";
        font-size: 17px;
        line-height:30px;
        padding: 60px 0 0 0;
        box-sizing: border-box;
        text-align: center;
        color:#666;
        display: block;
    }

    .box.xxlarge{
        width: 90%;
        width: 1000px;
    }

    .box.xlarge{
        width: 76.66%;
        width: 900px;
    }

    .box.large{
        width: 66.66%;
        width: 740px;
    }

    .box.medlarge{
        width: 66.66%;
        width: 600px;
    }

    .box.med{
        width: 480px;
    }

    .box.small{
        width: 16.66%;
        width: 235px;
    }

    .box.medsmall{
        width: 25%;
        width: 300px;
    }

    .box > .inner{
        padding: 10px 20px 10px 20px;
        background: #eee;
        text-align: left;
        box-sizing: border-box;
    }

    .box > .inner > .inner,
    .box > .inner > div > .inner{
        padding: 15px 0;
        margin: 15px 0 0 0;
        border: 1px solid #000;
        position: relative;
        background: #fff;
        box-sizing: border-box;
    }

    .box.large > .inner .one-third,
    .box.medlarge > .inner .one-third{
        padding: 0 10px 0 0;
    }

    .box.large > .inner .one-third.character_c,
    .box.medlarge > .inner .one-third.character_c{
        padding:0;
    }

    .box.large > .inner .one-third.monster_c,
    .box.medlarge > .inner .one-third.monster_c{
        padding: 0 0 0 10px;
    }

    .monster_c.one-third iframe{
        -ms-zoom: 0.5;
        border: 2px solid #111;
        margin-bottom:-90px;
        width: 200%;
        height: 400px;
        margin-bottom:-200px;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
    }

    .spell_f .iframeBox{
        height: 320px;
        width: 600px;
        max-width: 100%;
        border: 2px solid #111;
        box-sizing: border-box;
        margin: 5px auto 0 auto;
        position: relative;
        overflow: hidden;
    }

    .spell_f .iframeBox iframe{
        width: 100%;
        height: 100%;
        border: none;
        height: 380px;
        display: block;
        margin: 0;
        position: absolute;
        top: -60px;
    }

    .column{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        column-gap: 10px;
        padding: 10px 0;
    }

    .column.off{
        display: none;
    }

    .column.triple{
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        padding: 10px 0 5px 0
    }

    .ability{
        padding: 10px;
        box-sizing: border-box;
        background: #ccc;
        display: block;
        margin-bottom: 10px;
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
    }

    .column.triple .ability{
        margin: 0;
    }

    .ability div{
    }

    .actions{
        padding-right: 10px;
        box-sizing: border-box;
    }

    /*
    .box.expandBox{
        width: 100%;
        z-index: 9;
        height: 100%;
        padding-top: 80px;
        box-sizing: border-box;
        position: fixed;
        top:0;
        left: 0;
        background: rgba(255,255,255,0.9)
    }

    .box.expandBox .monster_b{
        width: 75%;
    }

    .box.expandBox .monster_c{
        width: 25%;
    }

    .box.expandBox .monster_b iframe {
        height: 550px;
    }
    */

    .confirm{
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 41px;
        z-index: 2;
        background: #eb918c;
        padding: 9px;
        box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.6);
        width: 150px;
        box-sizing: border-box;
        outline: 5000px solid rgba(0,0,0,0.5);
        border: 1px solid #000;
    }

    .confirm a {
        display: inline-block;
        font-weight: 900;
        margin: 8px 5px 5px 5px;
        padding: 5px 10px;
        background: #000;
        color: #fff;
    }

    a.linkButton,
    a.roll,
    a.reroll,
    a.remove,
    a.redRoll{
        padding: 0 15px;
        margin: 15px 5px 0 5px;
        background: rgba(0,0,0,0.3);
        display: inline-block;
        vertical-align: middle;
    }

    a.roll{
        margin: 0 5px 1px 5px;
        padding: 0 10px;
        display: block;
        background: rgba(0,0,0,0.5);
        color: #fff;
    }

    a.roll:hover{
        background: rgba(255,255,255,0.7)!important;
        color: #000;
        text-decoration: none;
    }

    a.reroll:hover{
        background: rgba(0,0,0,0.15)!important;
        text-decoration: inherit;
    }

    a.reroll:active{
        background: rgba(0,0,0,0.6)!important;
        text-decoration: inherit;
    }

    a.remove,
    a.drag,
    a.save,
    a.unsave{
        background-color:rgba(208, 13, 13, 0.5);
        position: absolute;
        top:0;
        right:0;
        font-size: 0;
        line-height: 0;
        padding: 0;
        height: 20px;
        width: 20px;
        padding: 10px;
        margin:0;
    }

    a.drag{
        right: 40px;
        padding: 7px;
        height: 26px;
        width: 26px;
    }

    a.save,
    a.unsave{
        right: 80px;
        width: 52px;
        padding: 2px 7px;
        height: 36px;
    }

    h2.handle{
        border-bottom: 1px solid #888;
        padding: 8px 90px 8px 15px;
        height: 41px;
        background: #fff;
        box-sizing: border-box;
        line-height: 25px;
        text-align: left;
    }

    a.drag{
        cursor: pointer;
        background-color:rgba(95, 194, 210,0.5);
    }

    a.drag:hover{
        background-color:rgba(95, 194, 210,0.25);
    }

    a.drag:active{
        background-color:rgba(95, 194, 210,0.8);
    }

    a.save{
        cursor: pointer;
        background-color: rgba(232, 231, 139, 0.7);
    }

    a.save:hover{
        background-color: rgba(232, 231, 139, 0.4);
    }

    a.save:active{
        background-color: rgba(232, 231, 139, 0.95);
    }

    a.unsave{
        cursor: pointer;
        background-color: rgba(118, 187, 83, 0.7);
    }

    a.unsave:hover{
        background-color: rgba(118, 187, 83, 0.4);
    }

    a.unsave:active{
        background-color: rgba(118, 187, 83, 0.95);
    }

    a.remove:hover{
        background: rgba(208, 13, 13, 0.25)!important;
    }

    a.remove:active{
        background: rgba(208, 13, 13, 0.8)!important;
    }

    span.handle:active{

    }

    a#reset,
    a#fullscreen{
        background:#2c6373;
        margin: 5px 5px 5px 0;
        color: #fff;
        border:1px solid #2c6373;
        box-sizing: border-box;
    }

    a#reset h4,
    a#fullscreen h4{
        padding: 6px 0;
    }

    a#reset:hover,
    a#fullscreen:hover{
        background: #fff!important;
        text-decoration: none;
        color: #2c6373;
    }

    i.col{
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin: 0 0 0 10px;
        border: 0px solid #fff;
        border-radius: 20px;
    }

    .combatants .clear{
        border-bottom:1px solid #ccc;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .combatants .clear:last-child{
        border:none;
    }

    .combatant.focus{
        background: url(../images/duel.png) 10px 50% no-repeat #b2e0e8;
        background-size: 19px auto;
        background: #b2e0e8;
    }

    .combatant input{
        background: none;
    }

    .calculation{
        display: none;
    }

    .top-controls > input,
    .top-controls > select,
    .top-controls > a.reroll{
        margin-top:10px!important;
        margin-bottom:15px!important;
    }

    #filter .buyMeACoffee{
        font-size: 12px;
        color: #fff;
    }

    #filter .buyMeACoffee img{
        padding-top: 10px;
    }

    select.itemSelect{
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (max-width:900px){
        header h1 {
            padding: 3px 0px 3px 7px;
            font-size: 19px;
        }

        #hamburger{
            display: block;
        }

        #filter{
            display: none;
            padding: 0;
            width: 440px;
            max-width: 100%;
            text-align: center;
            background: rgba(41, 76, 86, 0.9);
            background: linear-gradient(to bottom, rgba(44, 99, 115, 0.9), rgba(31, 51, 80, 0.9));
        }

        a.roll{
            text-align: center;
            margin: 4px 0 0 0;
            width: 42%;
            display: inline-block;
            background: rgb(38, 62, 72);
        }

        #filter .buyMeACoffee{
            padding-top: 10px;
        }

        #dummyHeader,
        #fullscreen,
        #reset,
        a.drag,
        #addNote + br{
            display: none!important;
        }

        a.save, a.unsave {
            right: 40px;
        }

        #main {
            padding: 10px;
            margin: 47px 0 0 0;
        }

        iframe {
            width: 150%!important;
            height: 300px!important;
            max-width: 150%!important;
            max-height: 300px!important;
            display: block;
            margin: 0;
            border-radius: 0px;
            box-shadow: none;
            transform: scale(0.666);
            -webkit-transform: scale(0.666);
            -moz-transform: scale(0.666);
            -ms-transform: scale(0.666);
            -o-transform: scale(0.666);
            margin: -50px 0 0 -25%;
        }

        .item_c{
            margin: 10px 0 0 0;
            overflow: auto;
            -webkit-overflow-scrolling:touch;
            width: 100%!important;
            height: 200px!important;
            max-width: 100%!important;
            max-height: 200px!important;
            border-radius: 3px;
            box-shadow: 0 0 0 1px #111;
            background: #fff;
        }

        .monster_d{
            /* overflow: auto;
            -webkit-overflow-scrolling:touch;
            height: 200px;
            max-height: 200px;
            border-radius: 3px;
            box-shadow: 0 0 0 1px #111;
            background: #fff;
            padding: 0!important; */
            display: none;
        }

        /* .monster_d iframe{
            margin: -50px 0 0 -63px;
        } */
    }

    @media screen and (max-width:680px){
        .box{
            font-size: 12px;
            line-height: 19px;
        }

        .box,
        .box.small,
        .box.medsmall{
            width: 100%;
        }

        h2.handle {
            padding: 3px 90px 3px 10px;
            height: 31px;
            line-height: 25px;
            font-size: 15px;
            text-align: left;
        }

        h2.handle img {
            height: 17px;
            width: 17px;
            padding: 4px 5px 4px 0;
        }

        a.remove, a.drag, a.save, a.unsave{
            padding: 5px
        }

        a.save, a.unsave {
            right: 30px;
            width: 40px;
            height: 30px;
            padding: 0 5px
        }

        a.save img, a.unsave img{
            height: 30px;
            width: 30px;
        }

        textarea {
            height: 70px;
        }

        .monster_b,
        .monster_c{
            width: 50%!important;
            padding-left: 0!important;
            padding-right: 0!important
        }

        .monster_d,
        .monster_e .actions{
            width: 100%!important;
            padding-left: 0!important;
            padding-right: 0!important
        }

        input[type='text'].monsterName,
        input[type='text'].spellName{
            width: 150px;
        }

        .monsterSuggestion + select,
        .spellSuggestion + select{
            padding: 0 5px;
            min-width: 0;
            width: 80px;
        }

        .monster_d{
            margin-top: 10px;
        }

        .monster_d iframe{
            margin: -50px 0 0 -25%;
        }
    }

    @media screen and (max-width:540px){
        .character_a.one-third,
        .character_b.one-third,
        .character_c.one-third{
            width: 100%;
            padding: 0;
        }

        a.roll{
            width: 50%;
            display: block;
            margin: 4px auto 0 auto;
        }

        h4 {
            font-size: 11px;
        }

        input[type='text'].monsterName,
        input[type='text'].spellName{
            width: 130px;
        }

        .monsterSuggestion + select,
        .spellSuggestion + select{
            padding: 0;
            min-width: 0;
            width: 70px;
        }

        .monsterSuggestion .results,
        .spellSuggestion .results{
            width: 300px;
            max-height: 180px;
        }
    }

    @media screen and (max-width:440px){
        .monsterSuggestion .results,
        .spellSuggestion .results{
            width: 200px;
        }
    }

    @media screen and (max-width:350px){
        header h1 {
            font-size: 17px;
        }

        header h1 img {
            padding: 8px 10px 8px 5px;
            height: 25px;
        }

        h5 {
            padding: 2px 0;
        }
    }
